.custom-navbar {
    background-color: #ffffff;
    color: black;
    margin-top: -10px;
  }
  
  .custom-navbar .navbar-nav {
    gap: 20px;
  }
  
  .custom-navbar .nav-link {
    color: grey; /* Default color */
    text-decoration: none; /* Remove underline */
  }
  
  .custom-navbar .nav-link:hover {
    color: green; /* Hover color */
    text-decoration: underline; /* Underline on hover */
  }
  
  .custom-navbar .navbar-brand {
    color: grey; /* Brand color */
  }
  
  .nav-item a {
    font-size: 16px;
    font-weight: 600;
  }
  